@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  font-family: "Open Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  position: absolute;
  left: 2em;
  color: #ff0000;
}

#menu {
  width: 100%;
  padding: 10px 0 0 0;
  list-style: none;
}

#menu li {
  float: right;
  padding: 0 50px 10px 0;
  position: relative;
  top: 1.75em;
}

#menu a {
  float: left;
  height: 25px;
  padding: 0 12px 0 12px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

#menu li:hover > a {
  background: #ff0000;
  color: #fff;
}

*html #menu li a:hover {
  /* IE6 */
  color: #fff;
}

#menu li:hover > ul {
  display: block;
}

/* Sub-menu */
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 99999;
}

#menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
}

#menu ul a {
  padding: 10px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

*html #menu ul a {
  /* IE6 */
  height: 10px;
  width: 150px;
}

*:first-child + html #menu ul a {
  /* IE7 */
  height: 10px;
  width: 150px;
}

#menu ul li:first-child a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
}

/* Clear floated elements */
#menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
